:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  font-weight: 500;
  color: rgb(56, 55, 55);
  text-decoration: none;
}
a:hover {
  color: rgb(2, 130, 249);
}

h3 {
  font-size: 17px;
  font-weight: 500;
}

/* BODY */
body {
  height: 100vh;
  font-family: "Open Sans", serif;
}

/* MACRO BLOCKS */

/* HEADER */
header {
  height: 160px;
  background-color: rgb(255, 255, 255);
  color: rgb(56, 55, 55);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* LOGO */
.logo {
  cursor: pointer;
}

/* HEADER MENU */
.menu-header > ul {
  font-weight: 700;
  display: flex;
  list-style: none;
}

.menu-header li {
  margin: 15px;
  cursor: pointer;
  position: relative;
}

.menu-header li:hover {
  color: rgb(2, 130, 249);
}

.menu-header li:hover .focusLine {
  display: block;
  color: rgb(2, 130, 249);
}

.focusLine {
  height: 8px;
  width: 100%;
  background-color: rgb(2, 130, 249);
  position: absolute;
  top: 84px;
  right: 0;
  display: none;
}

/* MAIN */
main {
  background-color: rgb(28, 28, 28);
}

.content {
  background-color: rgb(28, 28, 28);
}

/* BANNERMAIN */
.banner-main {
  height: 420px;
  background-size: cover;
}

/* COMICS LIST */
.comicslist {
  max-width: 1390px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 60px auto;
  gap: 30px;
}

/* COMIC CARD */
.comic-card {
  width: 185px;
  cursor: pointer;
  /* DEBUG */
  background-color: red;
}

.photo-container {
  height: 187px;
  width: 187px;
  overflow: hidden;
}

.fix-image {
  transform: scale(1.56);
  position: relative;
  top: 48px;
}

h4 {
  margin-top: 15px;
  text-align: initial;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 14px;
}

.main-menu {
  height: 210px;
  background-color: rgb(2, 130, 249);
}

.main-menu > ul {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.main-menu li {
  list-style: none;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.img-main-menu {
  width: 60px;
  margin-right: 16px;
}

.img-fix {
  width: 45px;
  margin-right: 16px;
}

/* FOOTER */
footer {
  height: 700px;
  /* DEBUG */
  background-color: rgb(48, 48, 48);
}
